/* @import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap'); */
    :root{
      --main-yellow: #FFDF60;
      --secondary-yellow: #FDFFA0;
      --list-yellow: #FFFACD;
      --darkMode-black: #333333;
      --darkMode-yellow: #999933;
    }
    
    /* mulig skrift "Indie Flower" */
    
    body {
       font-family: sans-serif;
       background-color: var(--main-yellow);
       margin: 0;
       height: 100vh;
      }

    h2 {
       cursor: pointer;
       }

    button {
       margin: 2px; 
      }

      header {
         display: grid;
         grid-template-columns: repeat(3, 1fr);
         background-color: var(--secondary-yellow);
         color: #000000;
         border: #333333 2px solid;
         text-align: center;
         padding: 10px;
         font-size: 24px;
         position: fixed;
         width: 100%;
         top: 0;
         }
         h1{
            grid-column: 2 / 3;
         }

      #content {
         padding: 20px;
         padding-top: 150px;
         padding-bottom: 100px;
      }

      .listPreview {
         border: 2px solid black;
         border-radius: 8px;
         padding: 10px;
         margin-bottom: 20px;
         background-color: var(--secondary-yellow);
         display: flex;
         justify-content: space-between;
         align-items: center;
      }
      .listPreview h2:hover {
         color: var(--darkMode-black);
      }

      .itemPreview {
         border: 1px solid black;
         border-radius: 4px;
         padding: 5px;
         margin-bottom: 10px;
         background-color: var(--secondary-yellow);
         display: flex;
         justify-content: space-between;
         align-items: center;
      }
      .itemPreview button {
         margin-left: 10px;
      }
      .buttonTest{
         width: 40px;
         background-color: transparent;
         border: none;
      }
      .buttonTest img {
         width: 100%;
         height: 100%;
      }
      #newListButton {
         border: none;
         background-color: transparent;
         font-size: 50px;
         cursor: pointer;
      }

      #newListButton:hover {
         color: var(--darkMode-black);
      }

      footer {
         width: 100%;
         position: fixed;
         left: 0;
         bottom: 0;
         height: 100px;
         background-color: var(--secondary-yellow);
         border: #333333 2px solid;
         text-align: center;
         justify-content: center;
         z-index: 100;
         }  

         /*.buttonTest {
            background-color: #4CAF50;
            border: none;
            color: white;
            padding: 5px 10px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 14px;
            margin: 2px 1px;
            cursor: pointer;
            border-radius: 4px;
         }*/
         


         .dark-mode {
            background-color: #333333;
            color: #333333;
         }
         .dark-mode header, .dark-mode footer {
            background-color: var(--darkMode-yellow);
            color: #333333;
         }
         .dark-mode .listPreview {
            background-color: var(--darkMode-yellow);
            border-color: var(--darkMode-black);
         }
         .dark-mode .itemPreview {
            background-color: var(--darkMode-yellow);
            border-color: var(--darkMode-black);
         }



         /* darkmode switch */
         