/* @import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap'); */
    :root{
      --main-yellow: #FFDF60;
      --secondary-yellow: #FDFFA0;
      --darkMode-black: #333333;
      --darkMode-yellow: #999933;
    }
    
    /* mulig skrift "Indie Flower" */
    
    body {
       font-family: sans-serif;
       background-color: var(--main-yellow);
       margin: 0;
       height: 100vh;
      }

    h2 {
       cursor: pointer;
       }

    button {
       margin: 2px; 
      }

      header {
         display: grid;
         grid-template-columns: repeat(3, 1fr);
         background-color: var(--secondary-yellow);
         color: #000000;
         text-align: center;
         padding: 10px 0;
         font-size: 24px;
         position: sticky;
         top: 0;
         }
         h1{
            grid-column: 2 / 3;
         }

      #content {
         padding: 20px;
      }

      
      footer {
         justify-content: center;   
         text-align: center;
         margin-top: 20px;
         background-color: var(--secondary-yellow);
         height: 100px;
         width: 100%;
         position: sticky;
         bottom: 0;
         }  

         /*.buttonTest {
            background-color: #4CAF50;
            border: none;
            color: white;
            padding: 5px 10px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 14px;
            margin: 2px 1px;
            cursor: pointer;
            border-radius: 4px;
         }*/
         


         .dark-mode {
            background-color: #333333;
            color: #FFFFFF;
         }
         .dark-mode header, .dark-mode footer {
            background-color: var(--darkMode-yellow);
            color: var(--darkMode-black);
         }